#sy_team {
    padding: 80px 0;
    background: #fff;
}

/* 헤더 */
.sy_header {text-align: center; margin-bottom: 50px;}
.sy_header h1 {
    font-size: 32px; font-weight: 700;
    color: #37517e;
}
.sy_headerLine {
    position: relative;
    display: block;
    width: 160px; height: 1.3px;
    background: #ccc;
    margin: 20px auto;
}
.sy_headerLine::after {
    content: "";
    position: absolute;
    left: 50%; top: -1px;
    transform: translateX(-50%);
    width: 60px; height: 3px;
    background: #47b2e4;
}
.sy_header p { color: #666; font-size: 17px;}

/* 포트폴리오 */



/* 팀 */
.sy_card {
    max-width: 1330px;
    margin: 0 auto;
    display: grid; grid-template-columns: repeat(2, 1fr);
    gap: 20px; padding: 0 20px;
}
.sy_teamCard {
    display: flex; align-items: center;
    background: #fff;
    height: 230px;
    padding: 25px;
    border-radius: 5px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.10);
    transition: all 0.5s ease;
}
.sy_teamCard:hover {transform: translateY(-8px);}
.sy_teamImg {
    width: 150px; height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 25px;
}
.sy_teamInfo {flex: 1;}
.sy_teamName {
    font-size: 20px; font-weight: 700;
    color: #37517e;
    margin-bottom: 8px;
}
.sy_teamPosition {font-size: 14px; color: #555; font-weight: 500; }
.sy_divider {
    display: block;
    width: 50px; height: 1px;
    background: #e4e4e4;
    margin: 10px 0; margin-top: 15px; 
}
.sy_teamDesc {
    font-size: 14px;
    color: #555;
    margin-bottom: 15px;
    line-height: 1.6;
}

.sy_SNS { display: flex; gap: 10px;}
.sy_snsLink {
    width: 36px; height: 36px;
    border-radius: 50%;
    background: #eee;
    display: flex;
    align-items: center; justify-content: center;
    transition: all 0.3s ease;
}
.sy_snsLink img {
    width: 17px;
    height: 17px;
    opacity: 0.6;
}
.sy_snsLink:hover {background: #47b2e4;}
.sy_snsLink:hover img {filter: brightness(0) invert(1); opacity: 1;}
