/* 그래프 차는거 */
.yuri_progress {
  height: 100%;
  background-color: #4668a2;

  width: 0;
  animation: fillBar 1.5s ease-in-out forwards;
  animation-delay: 4s;
}

@keyframes fillBar {
  to {
    width: var(--w);
  }
}

.yuri_acc_body {
  max-height: 0;
  overflow: hidden;
  opacity: 0;

  padding-top: 0;

  transition:
    max-height 0.6s cubic-bezier(.2,.8,.2,1),
    opacity 0.35s ease,
    padding-top 0.35s ease;
}

.yuri_acc_item[open] .yuri_acc_body {
  
  opacity: 1;
  padding-top: 20px;
}



