/* 이형주 */
.hj_call-to-action::before{
    content: "";
    background: #37517ea6;
    position: absolute;
    inset: 0;
    z-index: 2;
}

.hj_call-to-action{
    padding: 120px 0;
    position: relative;
    clip-path: inset(0);
}

.hj_call-to-action img{
    position: fixed;
    top: 0px;
    left: 0px;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.hj_call-to-action .hj_container{
    position: relative;
    z-index: 3;
}
.hj_call-to-action .hj_cta-content, .hj_cta-btn-container{
    text-align: center;
}

.hj_call-to-action h3{
    color: #fff;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 8px;
}
.hj_call-to-action p{
    color: #fff;
    margin-bottom: 16px;
    line-height: 1.5;
}
.hj_call-to-action .hj_cta-btn{
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 40px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px;
    border: 2px solid #fff;
    color: #fff;
    vertical-align: middle;
}
