/* #f8f8f8 */
.sh-newsletter{
  background: #f8f8f8;
  padding: 50px 0 0;
  width: 100%;
  max-width: none;
  overflow-x: hidden;
}

.sh-newsletter-inner{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10%;
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: space-between;
}

.sh-newsletter-text{
  flex: 1;
  margin: 0;
}

.sh-newsletter h2{
  margin: 30px 0 12px;
  color: #37517e;
  font-size: 44px;
  font-weight: 700;

  white-space: nowrap;
}

.sh-newsletter p{
  margin: 0 0 25px;
  color: #444;
  line-height: 1.6;
  max-width: 560px;
}

.sh-newsletter-form{
  max-width: 650px;
  height: 52px;
  background: #fff;
  border-radius: 999px;
  overflow: hidden;
  display: flex;
  align-items: stretch;
  border: 1px solid #47b2e4;
}

.sh-newsletter-form input{
  flex: 1;
  border: none;
  outline: none;
  padding: 16px 18px;
  font-size: 16px;
  min-width: 0;
}

.sh-newsletter-form button{
  border: none;
  padding: 0 28px;
  height: 100%;
  background: #47b2e4;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.sh-newsletter-image{
  flex: 0 0 45%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.sh-newsletter-image img{
  width: 90%;
  max-width: 520px;
  height: auto;
  display: block;
}

@media (max-width: 992px){
  .sh-newsletter-inner{
    padding: 0 16px;

    flex-direction: column;
    align-items: stretch;
    text-align: center;
    gap: 15px;
  }

  .sh-newsletter h2{
    font-size: 40px;
    white-space: normal; 
    margin: 16px 0;
  }

  .sh-newsletter p{
    margin: 0 auto 16px;
  }

  .sh-newsletter-form{
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    box-sizing: border-box;
  }

  .sh-newsletter-image{
    width: 100%;
    justify-content: center;
    align-items: flex-end;
    display: flex;
    
  }

  .sh-newsletter-image img{
    width: 100%;
    max-width: 520px;
  }
}

@media (max-width: 768px){
  .sh-newsletter{
    padding: 50px 0;
  }

  .sh-newsletter h2{
    font-size: 35px;
  }

  .sh-newsletter-form{
    height: 45px;
    max-width: 450px;
  }

  .sh-newsletter-form input{
    font-size: 15px;
  }

  .sh-newsletter-form button{
    padding: 0 20px;
    font-size: 15px;
  }

  .sh-newsletter-image img{
    max-width: 400px;
  }
}

@media (max-width: 576px){
  .sh-newsletter{
    padding: 48px 0;
  }

  .sh-newsletter h2{
    font-size: 25px;
  }

  .sh-newsletter-form{
    width: 100%;
    max-width: 100%;
    height: 45px;
  }

  .sh-newsletter-image img{
    max-width: 300px;
  }
}
