/* f3f5fa*/
.sh-company-set {
  background: #f3f5fa;
  padding: 15px 0;
}

.sh-company-set-view {
  max-width: 1700px;  
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
}

.sh-company-set-track {
  display: flex;
  align-items: center;
  gap: 0;

  width: 100%;      
  flex-wrap: nowrap;

  animation: sh-step 40s steps(8, end) infinite;
  will-change: transform;
}

.sh-company {
  flex: 0 0 calc(100% / 6);
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 6px;
  box-sizing: border-box;
}

.sh-company img {
  display: block;
  height: 40px;
  width: 140px;
  object-fit: contain;
  transition: transform 0.5s ease;
}
.sh-company:hover img { transform: scale(1.2); }

@keyframes sh-step {
  from { transform: translateX(0); }
  to   { transform: translateX(-50%); }
}


/* 6*/
@media (max-width: 1199px) {
  .sh-company { flex-basis: calc(100% / 6); }
}

/* 5 */
@media (max-width: 991px) {
  .sh-company { flex-basis: calc(100% / 5); }
}

/* 4*/
@media (max-width: 767px) {
  .sh-company { flex-basis: calc(100% / 4); }
}

/* 3 */
@media (max-width: 575px) {
  .sh-company { flex-basis: calc(100% / 3); }
}