/* f3f5fa*/
html, body{margin:0; padding:0;}
.sh-company-set{
  background: #f3f5fa;
  padding: 15px 0;

}

.sh-company-set-view{
  max-width: 1700px;
  margin: 0 auto;
  padding: 0 16px;
  overflow: hidden;
  box-sizing: border-box;
}

/* 16px*2=32*/
:root{ --sh-company-step: calc((min(100vw, 1700px) - 32px) / 6); }
@media (max-width: 992px){ :root{ --sh-company-step: calc((min(100vw, 1700px) - 32px) / 5); } }
@media (max-width: 768px){ :root{ --sh-company-step: calc((min(100vw, 1700px) - 32px) / 4); } }
@media (max-width: 576px){ :root{ --sh-company-step: calc((min(100vw, 1700px) - 32px) / 3); } }

.sh-company-set-track{
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  width: max-content;
  will-change: transform;

  animation: sh-company-step 160s ease-in-out infinite;
}

.sh-company{
  flex: 0 0 var(--sh-company-step);
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 6px;
  box-sizing: border-box;
}

.sh-company img{
  max-height: 40px;
  width: auto;
  display: block;
  transition: transform 0.6s ease-in-out;

}

.sh-company img:hover{ 
  transform: scale(1.2);
 }

  @keyframes sh-company-step{
  0%, 9%    { transform: translate3d(0,0,0); }
  12%, 21%  { transform: translate3d(calc(-1 * var(--sh-company-step) * 1),0,0); }
  24%, 33%  { transform: translate3d(calc(-1 * var(--sh-company-step) * 2),0,0); }
  36%, 45%  { transform: translate3d(calc(-1 * var(--sh-company-step) * 3),0,0); }
  48%, 57%  { transform: translate3d(calc(-1 * var(--sh-company-step) * 4),0,0); }
  60%, 69%  { transform: translate3d(calc(-1 * var(--sh-company-step) * 5),0,0); }
  72%, 81%  { transform: translate3d(calc(-1 * var(--sh-company-step) * 6),0,0); }
  84%, 93%  { transform: translate3d(calc(-1 * var(--sh-company-step) * 7),0,0); }
  96%, 100% { transform: translate3d(calc(-1 * var(--sh-company-step) * 8),0,0); }
}


